version: "3.7"

# only works for linux amd64
services: 
  chatgpt-wecom:
    build:
      context: ./
      dockerfile: docker/callback.Dockerfile
    ports: 
      - 8000:8000
    container_name: chatgpt-wecom
    depends_on:
      [chatgpt-db]
    volumes: 
      - ./logs:/home/works/program/logs
      - ./conf/chatgpt.conf:/home/works/program/chatgpt.conf
    restart: always
  
  chatgpt-db:
    image: mysql:5.7
    container_name: chatgpt-mysql
    restart: always
    environment:
      MYSQL_DATABASE: 'chatgpt'   
      MYSQL_ROOT_PASSWORD: 'VOSE1@qblt6'
      MYSQL_ROOT_HOST: '%'
    expose:
      - '3306'
    volumes:
      - db:/var/lib/mysql'
      - './init.sql:/docker-entrypoint-initdb.d/init.sql'

volumes:
  db: {}   