name: chatgpt-wecom-build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        go-version: 
          - "1.19"
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go-version }}

    - name: Build
      run: go build -ldflags "-s -w " -o chatgpt-wecom -v ./...

    - name: Test
      env:
        encoding_aes_key: FBpEcN6OFOmpCToGVZfTZvDLqk1m60O5flEUotOS2GP
        ENCODING_AES_KEY: FBpEcN6OFOmpCToGVZfTZvDLqk1m60O5flEUotOS2GP
      run: ./chatgpt-wecom